{
  "openapi": "3.1.0",
  "info": {
    "title": "Atonns API",
    "description": "API de WhatsApp baseada na Evolution, com melhorias de desempenho, estabilidade e suporte a proxy.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.atonns.com.br"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/instance": {
      "post": {
        "description": "Cria uma nova inst\u00e2ncia do WhatsApp.",
        "responses": {
          "201": {
            "description": "Inst\u00e2ncia criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          }
        }
      }
    },
    "/instance/fetchInstances": {
      "get": {
        "description": "Busca todas as inst\u00e2ncias existentes.",
        "responses": {
          "200": {
            "description": "Lista de inst\u00e2ncias",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance/{instance}": {
      "delete": {
        "description": "Remove uma inst\u00e2ncia espec\u00edfica.",
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inst\u00e2ncia removida"
          }
        }
      }
    },
    "/message/sendPlainText/{instance}": {
      "post": {
        "description": "Envia mensagem de texto.",
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/message/sendMedia/{instance}": {
      "post": {
        "description": "Envia m\u00eddia com legenda.",
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "M\u00eddia enviada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/message/sendList/{instance}": {
      "post": {
        "description": "Envia uma mensagem com lista interativa.",
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista enviada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/setWebhook/{instance}": {
      "post": {
        "description": "Define a URL de Webhook para uma inst\u00e2ncia.",
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configurado"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Instance": {
        "type": "object",
        "properties": {
          "instance": {
            "type": "string"
          }
        }
      },
      "TextMessage": {
        "type": "object",
        "required": [
          "to",
          "text"
        ],
        "properties": {
          "to": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "MediaMessage": {
        "type": "object",
        "required": [
          "to",
          "mediaUrl",
          "mediaType"
        ],
        "properties": {
          "to": {
            "type": "string"
          },
          "mediaUrl": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          }
        }
      },
      "ListMessage": {
        "type": "object",
        "required": [
          "to",
          "text",
          "title",
          "buttonText",
          "sections"
        ],
        "properties": {
          "to": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "buttonText": {
            "type": "string"
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "properties": {
          "webhook": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "messageId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}